*{
    margin: 0px ;
    padding: 0px;
}
body
{
   height:100% ;
   width:100% ;
   background-image:url('../images/nbg.png');
  

 }
table
{
   width:100% ;
   height:100% ;
   padding:0px ;
   margin:0px;
}
#up_queue_header
{
  
   height:30px;
   font-size:14px;
   color:White ;
  
}
.up_queue_item
{
   font-size:13px ;
   color:#333333;
   height:20px;
   vertical-align:middle ;    
}
tr.one
{
   background:#c0c0c0 ;   
}
tr.two
{
  background-color:#dddddd;    
}

#control div.btn,a.btn
{
   float:right ;  
   margin-right:20px;
   margin-top:5px;
 }